<div class="wrapper-content-page home-page-wrapper" ng-controller="HomePageCtrl as vm">
    <div class="hero-module">
        <div class="hero-module__container">
            <figure class="hero-module__figure">
                <img class="absolute-full img-cover" src="../../../assets/pages/img/tractor-1549621-1920@2x_mobile.png"/>
            </figure>
            <div class="hero-module__inner">
                <h1 class="hero-module__heading">Search Farm Equipment for Sale at Auction</h1>
                <div class="hero-module__input">
                    <form class="hero-module__form" ng-submit="vm.codeAddress(vm.zipCode)">
                        <input placeholder="Enter Zip Code" ng-model="vm.zipCode" />
                    </form>
                    <img height="50" class="hero-module__img" src="../../../assets/pages/img/direct-to-enter-zipcode@3x.png"/>
                </div>
                <div class="hero-module__content">
                    <div class="hero-module__card">
                        <div class="hero-card__inner">
                            <img class="hero-module__img" src="../../../assets/pages/img/find.svg"/>
                            <p class="hero-module__p semibold">Find Inventory</p>
                            <p class="hero-module__p ">Search for the agriculture equipment you need by specific make, model, or function</p>
                        </div>
                    </div>
                    <div class="hero-module__card">
                        <div class="hero-card__inner">
                            <img class="hero-module__img" src="../../../assets/pages/img/explore.svg"/>
                            <p class="hero-module__p semibold">Discover</p>
                            <p class="hero-module__p ">Connect with auctioneers all over the country and browse farm machinery auctions by region</p>
                        </div>
                    </div>
                    <div class="hero-module__card">
                        <div class="hero-card__inner">
                            <img class="hero-module__img" src="../../../assets/pages/img/subscribe.svg"/>
                            <p class="hero-module__p semibold">Subcribe</p>
                            <p class="hero-module__p ">Never miss a good find. Receive alerts for auctions posted near you or by your favorite auctioneers.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-module card-module--3">
        <div class="card-module__container">
            <h2 class="card-module__headline">
                Auctions Coming Soon
            </h2>
            <div class="card-module__list">
                <div class="card-module__item" ng-repeat="auction in vm.listAuction" ng-click="vm.showAuctionDetail(auction.id)">
                    <div class="card-module__inner">
                        <figure class="card-module__figure">
                            <img ng-if="isPC || showImage" class="absolute-full img-cover" src="{{auction.compressImage ? auction.compressImage : auction.image}}">
                        </figure>
                        <span class="card-module__number">
                            {{auction.lotNumber}} {{auction.lotNumber > 1 ? "lots" : "lot"}}
                        </span>
                        <div class="card-module__infor">
                            <div class="card-module__time">
                                <span class="card-module__month">{{auction.formatedDate.month}}</span>
                                <span class="card-module__date">{{auction.formatedDate.date}}</span>
                            </div>
                            <div class="card-module__detail">
                                <p class="card-module__title">
                                    {{auction.name}}
                                </p>
                                <p class="card-module__p">
                                    {{auction.type}} Auction
                                </p>
                            </div>
                            <span class="card-module__more-infor">
                               <i class="fa fa-angle-right" aria-hidden="true"></i>
                             </span>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
    <div class="card-module card-module--6">
        <div class="card-module__container">
            <h2 class="card-module__headline">
                Search by Equipment Type
            </h2>
            <div class="card-module__list">
                <div class="card-module__item" ng-click="vm.searchEquipment('Tractors')">
                    <div class="card-module__inner">
                        <figure class="card-module__figure">
                            <img class="absolute-full img-cover" src="{{(isPC || showImage)?'../../../assets/pages/img/Tractor.jpg':''}}" />
                        </figure>
                        <h3 class="card-module__sub-heading">Tractors</h3>
                    </div>
                </div>
                <div class="card-module__item" ng-click="vm.searchEquipment('Harvesting')">
                    <div class="card-module__inner">
                        <figure class="card-module__figure">
                            <img  class="absolute-full img-cover" src="{{(isPC || showImage)?'../../../assets/pages/img/Harvesting.jpg':''}}" />
                        </figure>
                        <h3 class="card-module__sub-heading">Harvesting</h3>
                    </div>
                </div>
                <div class="card-module__item" ng-click="vm.searchEquipment('Planting')">
                    <div class="card-module__inner">
                        <figure class="card-module__figure">
                            <img  class="absolute-full img-cover" src="{{(isPC || showImage)?'../../../assets/pages/img/Planting.jpg':''}}"/>
                        </figure>
                        <h3 class="card-module__sub-heading">Planting</h3>
                    </div>
                </div>
                <div class="card-module__item" ng-click="vm.searchEquipment('Tillage')">
                    <div class="card-module__inner">
                        <figure class="card-module__figure">
                            <img class="absolute-full img-cover" src="{{(isPC || showImage)?'../../../assets/pages/img/Tillage.jpg':''}}"/>
                        </figure>
                        <h3 class="card-module__sub-heading">Tillage</h3>
                    </div>
                </div>
                <div class="card-module__item" ng-click="vm.searchEquipment('Hay & Forage')">
                    <div class="card-module__inner">
                        <figure class="card-module__figure">
                            <img class="absolute-full img-cover" src="{{(isPC || showImage)?'../../../assets/pages/img/HayForage.jpg':''}}"/>
                        </figure>
                        <h3 class="card-module__sub-heading">Hay & Forage</h3>
                    </div>
                </div>
                <div class="card-module__item" ng-click="vm.searchEquipment('Chemical Applicators')">
                    <div class="card-module__inner">
                        <figure class="card-module__figure">
                            <img class="absolute-full img-cover" src="{{(isPC || showImage)?'../../../assets/pages/img/Sprayer.jpg':''}}"/>
                        </figure>
                        <h3 class="card-module__sub-heading">Chemical Applicators</h3>
                    </div>
                </div>
                <div class="card-module__item" ng-click="vm.searchEquipment('Ag Trailers')">
                    <div class="card-module__inner">
                        <figure class="card-module__figure">
                            <img class="absolute-full img-cover" src="{{(isPC || showImage)?'../../../assets/pages/img/AgTrailer.jpg':''}}"/>
                        </figure>
                        <h3 class="card-module__sub-heading">Ag Trailers</h3>
                    </div>
                </div>
                <div class="card-module__item card-module__item-all" ui-sref="dashboard">
                    <div class="card-module__inner">
                        <figure class="card-module__figure">
                            <img class="absolute-full img-cover" src="{{(isPC || showImage)?'../../../assets/pages/img/Tractor.jpg':''}}" />
                        </figure>
                        <a href="#" target="_blank" class="absolute-full module__item-cta">
                            <h3 class="card-module__sub-heading">See All</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-module">
        <div class="contact-module__container">
            <div class="contact-module__infor">
                <img class=contact-module__img src="../assets/pages/img/color-white-text@3x.png" />
                <p class="contact-module__p">Tractor Zoom is connecting farm equipment auctioneers and buyers faster than ever before. Finding farm equipment at auction has never been so easy.</p>
                <div class="contact-module__social">
                    <span class="contact-module__icon">
                        <a href="https://www.facebook.com/TractorZoom/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                    </span>
                    <span class="contact-module__icon">
                        <a href="https://www.instagram.com/TractorZoom/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </span>
                    <span class="contact-module__icon">
                        <a href="https://twitter.com/TractorZoom/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </span>
                </div>
            </div>
            <div class="contact-module__resource">
                <h3 class="contact-module__title">Resources</h3>
                <ul class="contact-module__list">
                    <li class="contact-module__item">
                        <a ui-sref="auctionsByState">Auctions by States</a>
                    </li>
                    <li class="contact-module__item">
                        <a ui-sref="auctionsByAuctioneer">Auctions by Auction company</a>
                    </li>
                    <li class="contact-module__item">
                        <a href="https://blog.tractorzoom.com/" target="_blank">Blog</a>
                    </li>
                    <li class="contact-module__item">
                        <a ui-sref="aboutUs">About</a>
                    </li>
                </ul>
            </div>
            <div class="contact-module__app">
                <h3 class="contact-module__title">Download App</h3>
                <ul class="contact-module__list">
                    <li class="contact-module__item">
                        <a href="https://itunes.apple.com/gb/app/tractor-zoom/id1250303212?mt=8" target="_blank">
                            <img src="../assets/pages/img/apple.svg" height="40" width="135"/>
                        </a>
                    </li>
                    <li class="contact-module__item">
                        <a href="https://play.google.com/store/apps/details?id=com.launchdeck.tractorzoom" target="_blank">
                            <img src="../assets/pages/img/google.svg" height="40" width="135"/>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- <auction-modal show="vm.isShowModal" auction="vm.auctionDetail" currentlot="vm.currentLotId" modal-on-hide="vm.hideModal()"></auction-modal> -->

</div>
<div data-ng-include="'tpl/footer.html?v=5.8'" data-ng-controller="FooterController" class="page-footer"> </div>
